{% extends "base.html.twig" %}

{% block title %}Liste des produits de la catégorie
	{{ category.name }}
{% endblock %}
{% block body %}
	<main class="container">
		<h1 class="text-center">Liste des produits de la catégorie
			{{ category.name }}</h1>
		{# {% for product in category.products %}
		            <li>{{ product.name }}</li>
		        {% endfor %} #}
		<div class="flex flex-col items-center">
			{% for product in products %}
				<div class="flex font-sans bg-white my-4 max-w-xl">
					<div class="flex-none w-48 relative">
						<img src="/classic-utility-jacket.jpg" alt="" class="absolute inset-0 w-full h-full object-cover" loading="lazy"/>
					</div>
					<form class="flex-auto p-6">
						<div class="flex flex-wrap">
							<h1 class="flex-auto text-lg font-semibold text-slate-900">
								{{ product.name }}
							</h1>
							<div class="text-lg font-semibold text-slate-500">
								{{ product.price / 100 }}
								€
							</div>
							<div class="w-full flex-wrap text-sm font-medium text-slate-700 mt-2">
								{{ product.description }}
							</div>
						</div>
						<div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
							<a href="{{ path('products_details', {"slug": product.slug}) }}">Voir la description
							</a>
						</div>
						<div class="flex space-x-4 mb-6 text-sm font-medium">
							<div class="flex-auto flex space-x-4">
								<button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
									Buy now
								</button>
								<button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
									Add to bag
								</button>
							</div>
							<button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
								<svg width="20" height="20" fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
								</svg>
							</button>
						</div>
					</form>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
